@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";
body{
  font-family: "Open Sans", sans-serif;
}

.progress-bar {
  appearance: none;
  border: none;
}

/* Background */
.progress-bar::-webkit-progress-bar {
  background-color: #374151; /* Tailwind gray-700 */
  border-radius: 9999px;
}

/* Filled part */
.progress-bar::-webkit-progress-value {
  background-color: #f97316; /* Tailwind orange-500 */
  border-radius: 9999px;
}

/* Firefox */
.progress-bar::-moz-progress-bar {
  background-color: #f97316;
  border-radius: 9999px;
}